body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  border: solid 1px #96999b;
  border-radius: 8px;
  margin: 20px;
  padding: 30px;
  background-color: #eeeff1;
  width: 100%;
  font-size: 25px;
}

button{
  width: 100%;
  height: 50px;
}

input{
  height: 50px!important;
  font-size: 20px!important;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: #3498db;
  border-radius: 8px;

}